anyascii==0.3.2
click==8.2.0
colorama==0.4.6
contractions==0.1.73
et_xmlfile==2.0.0
ftfy==6.3.1
joblib==1.5.0
nltk==3.9.1
numpy==2.2.4
openpyxl==3.1.5
pandas==2.2.3
pyahocorasick==2.1.0
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2024.11.6
six==1.17.0
textsearch==0.0.24
tqdm==4.67.1
tzdata==2025.2
wcwidth==0.2.13
